*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-family: "Montserrat", sans-serif;
}

.container{
    margin: 0 auto;
    width: 70%;
    text-align: center;
}

/* CADASTRO */
a{
    text-decoration: none;
}

.cadastro_img{
    padding: 25px;
}

.cadastro_header{
    margin-bottom: 25px;
    color: #06A763;
}

.cadastro_header_titulo{
    padding-top: 40px;
    padding-bottom: 5px;
    font-weight: 300;
}

.cadastro_header_texto{
    font-weight: 300; 
    font-size: 15px;
}

label{
    display: none;
}

input{
    border: none;
    border-bottom: 1px #4BD29A solid;
    width: 250px;
    font-size: 15px;
    text-align: center;
    padding-bottom: 15px;
    margin-top: 70px;
    font-family: "Montserrat";
}

.cadastro_btn{
    margin-top: 50px;
}

.btn{
    font-family: "Lato", sans-serif;
    font-size: 12px;
    font-weight: 700;
    border-radius: 10px;
    color: #ffffff;
    padding: 15px 20px;
    margin-top: 50px;
}

.cadastro_btn_verde{
    background-color: #07AC66;
    margin-right: 4px;
}

.cadastro_btn_translucido{
    background-color: #3ACC8F;
    margin-left: 4px;
}

.cadastro_footer{
    margin-top: 180px;
    color: #06A763;
}

.cadastro_footer p{
    font-size: 12px;
    font-weight: 400;
    padding-top: 10px;
}


/*MEUS_LIVROS*/
.meuslivros_header{
    background-color: #009DE0;
    color: #ffffff;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    height: 40px;
}

.meuslivros_header_img-logo{
    padding-left: 15px;
}


.meuslivros_header_texto{
    font-size: 14px;
    padding-left: 80px;
}

.meuslivros_header_img-search{
    padding-left: 70px;
}

.meuslivros_header_img-menu{
    padding-right: 10px;
} 


/* este estilo aplica-se a partir de 768px em diante */
@media ( min-width: 768px ) {
.cadastro_header{
    margin-top: 20px;
}

.cadastro_header_titulo{
    font-size: 48px;
}

.cadastro_header_texto{
    font-size: 20px;
}

input{
    width: 450px;
    font-size: 20px;
    margin-top: 170px;
}

.btn{
    font-size: 20px;
    padding: 25px 40px;
}

.cadastro_footer {
    margin-top: 290px;
}

.cadastro_footer p{
    font-size: 18px;
}

}